# ------------------------------------------------------------------------------
# This dependency file defines the Python packages required by the worker.
# ------------------------------------------------------------------------------

pyicloud==2.4.1
requests==2.32.3
python-dateutil==2.9.0.post0
keyring==25.6.0
keyrings.alt==5.0.2
